<div class="card clienteItem">
  <div class="card-body">
    <div class="row justify-content-between">
      <div class="col-9">
        <h5 class="card-title">{{ cliente.nome }}</h5>
      </div>
      <div class="col-1">
        <i
          class="fa fa-edit"
          style="color: blue"
          (click)="onEditar(cliente.id)"
          title="Clique para atualizar os dados deste cliente"
        ></i>
      </div>
      <div class="col-1">
        <i
          class="fa fa-trash"
          style="color: red"
          (click)="onExcluir(cliente.id)"
          title="Clique para excluir este cliente"
        ></i>
      </div>
    </div>
    <div class="float-left">
      Sexo: {{ cliente.sexo == "M" ? "Masculino" : "Feminino" }}
    </div>
    <div class="float-right">Idade: {{ calcularIdade() }} anos</div>
    <a *ngIf="cliente.enderecoCadastrado" class="btn btn-primary"
      >Visualizar Endereço</a
    >
    <a *ngIf="!cliente.enderecoCadastrado" class="btn btn-primary"
      >Cadastrar Endereço</a
    >
  </div>
</div>
