<div
  class="card clienteItem"
  (click)="onEditar(cliente.id)"
  title="Clique para atualizar os dados deste cliente"
>
  <div class="card-body">
    <h5 class="card-title">{{ cliente.nome }}</h5>
    <p class="card-text">
      Sexo: {{ cliente.sexo == "M" ? "Masculino" : "Feminino" }}
    </p>
    <a *ngIf="cliente.enderecoCadastrado" class="btn btn-primary"
      >Visualizar Endereço</a
    >
    <a *ngIf="!cliente.enderecoCadastrado" class="btn btn-primary"
      >Cadastrar Endereço</a
    >
  </div>
</div>
