<form
  class="needs-validation"
  novalidate
  [formGroup]="form"
  style="padding-top: 10px"
>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <label for="name">Nome</label>
        <input
          type="text"
          class="form-control"
          id="name"
          placeholder="Nome"
          formControlName="name"
          [ngClass]="{ 'is-invalid': submitted && hasError('name') }"
        />
        <div
          class="invalid-feedback"
          *ngIf="hasError('name') && hasError('name')['required']"
        >
          Campo nome é obrigatório.
        </div>
        <div
          class="invalid-feedback"
          *ngIf="hasError('name') && hasError('name')['minlength']"
        >
          Campo nome precisa ter no mínimo
          {{ hasError("name")["minlength"].requiredLength }} caracteres.
        </div>
        <div
          class="invalid-feedback"
          *ngIf="hasError('name') && hasError('name')['maxlength']"
        >
          Campo nome precisa ter no máximo
          {{ hasError("name")["maxlength"].requiredLength }} caracteres.
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <label for="document">CPF</label><br />
        <input
          type="text"
          class="form-control"
          id="document"
          placeholder="Informe CPF somente números"
          formControlName="document"
          maxlength="11"
          [ngClass]="{ 'is-invalid': submitted && hasError('document') }"
        />
        <div
          class="invalid-feedback"
          *ngIf="hasError('document') && hasError('document')['required']"
        >
          Campo CPF é obrigatório.
        </div>
        <div
          class="invalid-feedback"
          *ngIf="hasError('document') && hasError('document')['minlength']"
        >
          Campo CPF precisa ter no mínimo
          {{ hasError("document")["minlength"].requiredLength }} caracteres.
        </div>
        <div
          class="invalid-feedback"
          *ngIf="hasError('document') && hasError('document')['maxlength']"
        >
          Campo CPF precisa ter no máximo
          {{ hasError("document")["maxlength"].requiredLength }} caracteres.
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label for="birthday">Data de Nascimento</label><br />
        <input
          id="birthday"
          type="text"
          class="form-control"
          formControlName="birthday"
          placeholder="Data de nascimento formato dd/mm/aaaa"
          maxlength="10"
          [ngClass]="{ 'is-invalid': submitted && hasError('birthday') }"
        />
        <div
          class="invalid-feedback"
          *ngIf="hasError('birthday') && hasError('birthday')['required']"
        >
          Campo Data de Nascimento é obrigatório.
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label for="gender">Sexo</label><br />
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="gender"
            id="sexoMasculino"
            value="M"
            formControlName="gender"
          />
          <label class="form-check-label" for="sexoMasculino">
            Masculino
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="gender"
            id="sexoFeminino"
            value="F"
            formControlName="gender"
          />
          <label class="form-check-label" for="sexoFeminino">
            Feminino
          </label>
        </div>
      </div>
    </div>
  </div>

  <div style="margin-top: 10px">
    <button type="sumit" class="btn btn-primary" (click)="onSubmit()">
      Salvar
    </button>
    <button type="button" class="btn btn-default" (click)="onCancel()">
      Cancelar
    </button>
  </div>
</form>
